<div class="flex flex-center">
  <div class="card-panel hoverable container">
    <h3>About</h3>
    <ul>
      <li>  Govhack 2017
        Tell us about your project - why did you choose to build it, what does it do, who is it for, et cetera. Also talk about the data you've reused, and how you've reused it. How does the project satisfy the prize categories you have selected?
      </li>
      <br>
      <li>The needs of our society are more sophisticated now than ever before. The products and services that are exchanged every second through our own hands, or through automatic transactions by machines are is incredible. That is all very exciting, but sometimes things go wrong or people aren’t sure what to do.</li>
      <br>

      <li>The purpose of regulation is to enforce the same rules on businesses providing all of those products and services to protect everyone’s safety and wellbeing. Regulation is complex and hard to understand for people who don’t need to use it everyday. We are addressing twant to make it easier for people to navigate regulation</li>

      <br>

      <li>We have chosen to use the Export Control rule set provided by Data61 to create a Regulation as a Platform solution to make regulation easier to navigate: Regscheck.</li>
      <br>

      <li>Regscheck is a self-service platform for anyone to check whether they meet with regulations related to their business. There are two ways to self-assess:
        answer a questionnaire related check their level of compliance with a piece of regulation.
        chat to Anna (our chatbot) who will ask follow up questions to determine whether they are compliant with the regulation.</li>
        <br>

        <li>If Regscheck concludes that someone does not meet conditions to do something, then it will show which conditions are not met and suggest a government authority that they could contact to help them with meeting the conditions.</li>
        <br>

        <li>The demonstration example we have used is a farmer checking whether they meet the criteria to apply to have their farm accredited under the European Union Cattle Accreditation Scheme (EUCAS).</li>
        <br>

        <li>If we had more time, we would have looked at the public rule sets in more detail to trace the conditions required by the regulations all the way to conclusions they help determine.</li>


      </ul>
    </div>
  </div>
</div>
