<div class="flex flex-center">
  <div class="card-panel hoverable container">
    <h4>About</h4>
    <ul>
      <h6>Govhack 2017</h6>
      <li>As the world becomes more sophisticated, so too do our regulations. However, this makes it harder for businesses to navigate legal frameworks. </li>
      <br>
      <li>Our aim is to steer businesses and entrepreneurs through only relevant sections of regulation. This will reduce the time they are entangled in regulation and allow them to spend more time running their businesses.</li>
      <br>
      <li>We have chosen to use the public rule sets provided by Data61 to create a Regulation as a Platform solution to make regulation easier to navigate: Regscheck.</li>
      <br>
      <li>Regscheck is a self-service platform for anyone to check whether they meet regulations that affect their business. There are two ways to self-assess:
      answer a questionnaire related check their level of compliance with a piece of regulation.
      chat to Anna (our chatbot) who will ask follow up questions to determine whether they are compliant with the regulation.</li>
      <br>
      <li>If Regscheck concludes that someone does not meet conditions to do something, then it will show which conditions are not met and suggest further actions to meet the conditions.</li>
      <br>
      <li>The demonstration example we have used is a farmer checking whether they meet the criteria to apply to have their farm accredited under the European Union Cattle Accreditation Scheme (EUCAS).</li>




    </ul>
  </div>
</div>
</div>
