<div class="flex">

  <div class="iframe-size">
      <iframe src='https://webchat.botframework.com/embed/illuminati?s=VmQYMSOPOL0.cwA.iCM.dPS6srQmbq7eVVOfrzueyZ-lc2fwAKZ27HZwedjp834'></iframe>

  </div>
</div>
