<div class="container" style="height: 100%;">
    <div class="row l2 offset-l3 valign-wrapper" style="height: 100%; text-align: center">
      <div class="col l6 offset-s3 offset-l3">
          <a class="btn-large waves-effect waves-light btn" style="width:100%; margin: 20px"><i class="material-icons right">question_answer</i>Chat with us</a>
          <a class="btn-large waves-effect waves-light btn" style="width:100%; margin: 20px"><i class="material-icons right">cloud</i>Answer a questionaire</a>
      </div>
    </div>
    <div class="row">
      <div class="col l6 offset-s3 offset-l3">
      </div>
    </div>
  </div>
</div>
