
  <div class="row">
    <div class="col l6 s12 offset-l3">
      <a class="waves-effect waves-light btn-large" style="width:100%"><i class="material-icons right">cloud</i>robot</a>
      <a class="waves-effect waves-light btn-large" style="width:100%" href="/form"><i class="material-icons right">cloud</i>form</a>
    </div>
</div>
