<main>
  <div class="container" style="height: 100%">
    <div class="row" style="height: 100%; text-align: center">
      <div class="col l8 s12 offset-l2">
        <a href="/chat" class="btn-large waves-effect waves-light btn cyan darken-2" style="width:100%; margin: 20px 0"><i class="material-icons right">question_answer</i>Chat with us</a>
        <a href="/form" class="btn-large waves-effect waves-light btn cyan darken-2" style="width:100%; margin: margin: 20px 0"><i class="material-icons right">cloud</i>Answer a questionaire</a>
      </div>
    </div>
  </div>
</div>
</main>
