<div class="flex flex-center">
  <div class="container card-panel">
    <div>
      <ul>
        <% @body.each do |line|%>
        <li><%= "#{line}" %></li>
        <br>
        <% end %>
      </ul>

    </div>
  </div>
</div>
