<div class="flex flex-center">
  <div class="card-panel hoverable container">
    <div>
      <% @body.each do |line|%>
      <p style="font-size: 25px"><%= "#{line}" %></p>
      <% end %>
    </div>
  </div>
</div>
