<div class="flex flex-center">
  <div class="container" style="text-align:center">

    <a href="/form" class="btn-large waves-effect waves-light btn cyan darken-2 hoverable" style="width: 200px; margin: 20px 0">Farm</a>
    <br>
    <a href="/commingsoon" class="btn-large waves-effect waves-light btn cyan darken-2 hoverable" style="width: 200px; margin: 20px 0">Abbatoir</a>

    <br>

    <a href="/commingsoon" class="btn-large waves-effect waves-light btn cyan darken-2 hoverable" style="width: 200px; margin: 20px 0">Feedlot</a>

    <br>

    <a href="/commingsoon" class="btn-large waves-effect waves-light btn cyan darken-2 hoverable" style="width: 200px; margin: 20px 0">Salesyard</a>

  </div>
</div>
