<div class="flex flex-center">
  <div class="container" style="text-align:center">
    <a href="/chat" class="btn-large waves-effect waves-light btn cyan darken-2 hoverable" style="margin: 20px 0"><i class="material-icons right">web</i>Website source code</a>
    <br>
    <a href="/chat" class="btn-large waves-effect waves-light btn cyan darken-2 hoverable" style="margin: 20px 0"><i class="material-icons right">laptop</i>Chatbot source code</a>

  </div>
</div>
